<h1>Your Game</h1>
<p>
  Number of players: <%= @game.number_players %>
</p>
<% @game.players.each_with_index do |player, i| %>
  <p>
    Player #<%= i + 1%> color: <%= player.color %>
  </p>
<% end %>
<p>
  <%= @game.player_turn.color %>'s turn
</p>

<row>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-1 y-3">
    </div>
    <div class="board-space md-space x-1 y-3">
    </div>
    <div class="board-space sm-space x-1 y-3">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-2 y-3">
    </div>
    <div class="board-space md-space x-2 y-3">
    </div>
    <div class="board-space sm-space x-2 y-3">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-3 y-3">
    </div>
    <div class="board-space md-space x-3 y-3">
    </div>
    <div class="board-space sm-space x-3 y-3">
    </div>
  </div>
</row>
<row>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-1 y-2">
    </div>
    <div class="board-space md-space x-1 y-2">
    </div>
    <div class="board-space sm-space x-1 y-2">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-2 y-2">
    </div>
    <div class="board-space md-space x-2 y-2">
    </div>
    <div class="board-space sm-space x-2 y-2">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-3 y-2">
    </div>
    <div class="board-space md-space x-3 y-2">
    </div>
    <div class="board-space sm-space x-3 y-2">
    </div>
  </div>
</row>
<row>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-1 y-1">
    </div>
    <div class="board-space md-space x-1 y-1">
    </div>
    <div class="board-space sm-space x-1 y-1">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-2 y-1">
    </div>
    <div class="board-space md-space x-2 y-1">
    </div>
    <div class="board-space sm-space x-2 y-1">
    </div>
  </div>
  <div class="col-md-4 board-square">
    <div class="board-space lg-space x-3 y-1">
    </div>
    <div class="board-space md-space x-3 y-1">
    </div>
    <div class="board-space sm-space x-3 y-1">
    </div>
  </div>
</row>

<h4><%= @game.player_turn.color %>'s pieces:</h4>
<% @game.player_turn.unplayed_pieces.each do |piece| %>
  <div class="game-piece <%= piece.color %>-color size-<%= piece.size %>" draggable="true">
  </div>
<% end %>

<%= link_to "New Game", new_game_path %>
