<h1>Your Game</h1>
<p>
  Number of players: <%= @game.number_players %>
</p>
<% @game.players.each_with_index do |player, i| %>
  <p>
    Player #<%= i + 1%> color: <%= player.color %>
  </p>
<% end %>
<p>
  <%= @game.player_turn.color %>'s turn
</p>


  <% 3.times do |y| %>
  <div class="row">
    <% 3.times do |x| %>
      <div class="col-md-4 board-square">
        <% @game.game_board.spots_at(x+1, 3-y).each do |spot| %>
          <div class="<%= spot.css_class_list %>">
          </div>
        <% end %>
      </div>
    <% end %>

    </div class="row">
  <% end %>


<h4><%= @game.player_turn.color %>'s pieces:</h4>
<% @game.player_turn.unplayed_pieces.each do |piece| %>
  <div class="game-piece <%= piece.color %>-color size-<%= piece.size %>" draggable="true">
  </div>
<% end %>

<%= link_to "New Game", new_game_path %>
